templates/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>about / etk / frontend</title>
    <link rel="stylesheet" href="/static/css/front/style.css">
    <script type="text/javascript" src="/static/js/front/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/front/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/front/script.js"></script>
  </head>
  <body>
    <div class="Header Flex"><a href="index.html" class="Header-logo"></a>
      <div class="Header-menu Flex"><a href="projects.html" class="Header-link">Нефтегазовые проекты</a><a href="" class="Header-link">Медиа</a><a href="" class="Header-link">Рыболовство</a><a href="" class="Header-link">Недвижимость</a><a href="" class="Header-link">Проекты развития</a></div>
      <div class="Header-lang Flex"><a href="" class="Header-langLink Header-langLink--active">RU</a><a href="" class="Header-langLink">EN</a><a href="" class="Header-langLink">CH</a></div>
    </div>
    <hr>
    <div class="Center">  
      <div class="Header Header--sub Header--white Flex"><a href="projects-inside.html" class="Header-link--sub Header-link--about Header-link--active">О холдинге</a><a href="" class="Header-link--sub Header-link--about">Структура</a><a href="" class="Header-link--sub Header-link--about">Руководство</a><a href="contacts.html" class="Header-link--sub Header-link--about">Контактная информация</a></div>
    </div>
    <div class="AboutImage">
      <div class="Center">
        <div class="AboutImage-desc">Группа компаний ЕТК – многопрофильный консорциум, в который входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.</div>
      </div>
    </div>
    <div class="AboutInfo">
      <div class="Center">
        <div class="AboutBio">
          <div class="AboutBio-image"></div>
          <h3 class="AboutBio-name">Евсюков </h3>
          <h3 class="AboutBio-name">Дмитрий Анатольевич</h3>
          <p class="AboutBio-nameDesc">Президент группы ЕТК</p>
          <div class="AboutBio-map"></div>
          <p class="AboutBio-desc">ЕТК имеет представительства в пяти городах России, а также в Украине, Белоруссии, Казахстане, Туркменистане, Узбекистане, Китае, Саудовской Аравии и Объединенных Арабских Эмиратах.</p>
        </div>
        <h1 class="Title">Холдинг ЕТК</h1>
        <p class="AboutInfo-desc">Группа компаний ЕТК – многопрофильный консорциум, в который входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.</p>
        <p class="AboutInfo-desc">Группа компаний ЕТК включает:</p>
        <ul class="AboutInfo-list">
          <li class="AboutInfo-listItem">ЗАО ЕВРАКОР</li>
          <li class="AboutInfo-listItem">ООО ЕТК</li>
          <li class="AboutInfo-listItem">ЗАО Краснодарстройтрансгаз</li>
          <li class="AboutInfo-listItem">ООО Дорожно-строительная компания Регион–БВР</li>
          <li class="AboutInfo-listItem">ETK PTE. Ltd.</li>
          <li class="AboutInfo-listItem">ETK TRAIDING PRIVATE LIMITED</li>
        </ul>
        <h2 class="AboutInfo-listTitle">Основные направления деятельности</h2>
        <ul class="AboutInfo-list">
          <li class="AboutInfo-listItem">Строительство "под ключ", реконструкция и капитальный ремонт объектов магистральных нефте- и газопроводов</li>
          <li class="AboutInfo-listItem">Промышленное и гражданское строительство </li>
          <li class="AboutInfo-listItem">Материально-техническое обеспечение</li>
          <li class="AboutInfo-listItem">Транспортные услуги</li>
        </ul>
        <h2 class="AboutInfo-listTitle">Персонал группы компаний</h2>
        <p class="AboutInfo-desc AboutInfo-desc--noPadding">Группа компаний ЕТК обладает высококвалифицированным персоналом для выполнения всех необходимых работ. Численность сотрудников группы около 5000 человек и включает в себя высококвалифицированный инженерно-технический и административно-управленческий персонал, а также рабочих разных специальностей. Средний коэффициент квалификации рабочих основных специальностей составляет 5,5.</p>
        <h2 class="AboutInfo-listTitle">Производственно-технические мощности</h2>
        <p class="AboutInfo-desc AboutInfo-desc--noPadding">Парк дорожно-строительной и специальной техники, один из крупнейших в РФ, насчитывает около 3500 машин и механизмов ведущих мировых производителей, а также мобильных вагон-домов, позволяющих организовывать передвижные временные городки строителей.</p>
        <p class="AboutInfo-desc">Парк железнодорожного подвижного состава включает 4695 единиц, что позволяет минимизировать логистические риски и существенно ускорить перебазировку техники и грузов в любые, даже самые отдаленные регионы РФ, стран СНГ и Балтии.</p>
        <p class="AboutInfo-desc">Группа Компаний имеет в своем распоряжении самые современные комплексы и оборудование автоматической, полуавтоматической и ручной сварки, которые обеспечивают выполнение сварочных операций в соответствии с международными стандартами.</p>
      </div>
    </div>
    <div class="Footer">
      <div class="Center">
        <div class="Footer-credits Flex"><a href="index.html" class="Footer-logo"></a>
          <div class="Footer-social Flex"><a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a><a href="" target="_blank" class="FooterSocial FooterSocial-twitter">  </a></div>
        </div>
        <hr class="Footer-hr">
        <div class="Footer-menu">
          <div class="FooterMenu-item FooterMenu-item--first">
            <div class="FooterHeader"> <a href="about.html">Холдинг</a></div>
            <div class="FooterLink"> <a href="">Структура консорциума</a></div>
            <div class="FooterLink"> <a href="">Технические мощности</a></div>
            <div class="FooterLink"> <a href="news.html">Новости</a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
            <div class="FooterLink"> <a href="contacts.html">Контактная информация</a></div>
            <div class="FooterLink"><a href="">Задать вопрос    </a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"> <a href="projects.html">Нефтегазовые проекты</a></div>
            <div class="FooterLink"> <a href="projects-inside.html">Строительство трубопроводов</a></div>
            <div class="FooterLink"> <a href="">Строительство электрических сетей</a></div>
            <div class="FooterLink"> <a href="">Логистические услуги</a></div>
            <div class="FooterLink"> <a href="">Поставка продукции</a></div>
            <div class="FooterHeader"> <a href="">Проекты развития</a></div>
            <div class="FooterLink"> <a href="">Фармацевтика</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"><a href="">Недвижимость</a></div>
            <div class="FooterLink"> <a href="">Гостиничный бизнес</a></div>
            <div class="FooterLink"> <a href="">Гражданское строительство</a></div>
            <div class="FooterHeader"> <a href="">Рыболовство</a></div>
          </div>
          <div class="FooterMenu-item FooterMenu-item--last">
            <div class="FooterHeader"><a href="">Медиа</a></div>
            <div class="FooterLink"><a href="">Солярис Промо Продакшн</a></div>
            <div class="FooterLink"><a href="">Канал A one</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

assets/templates/about.jade
extends ./base.jade

block title 
    title about / etk / frontend
    
block content    
        .Center   
            .Header.Header--sub.Header--white.Flex
                a(href="projects-inside.html").Header-link--sub.Header-link--about.Header-link--active О холдинге
                a(href="").Header-link--sub.Header-link--about Структура
                a(href="").Header-link--sub.Header-link--about Руководство
                a(href="contacts.html").Header-link--sub.Header-link--about Контактная информация
        
        .AboutImage
            .Center
                .AboutImage-desc Группа компаний ЕТК – многопрофильный консорциум, в который входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.
                
        .AboutInfo
            .Center
                        
                .AboutBio
                    .AboutBio-image
                    h3.AboutBio-name Евсюков 
                    h3.AboutBio-name Дмитрий Анатольевич
                    p.AboutBio-nameDesc Президент группы ЕТК
                    .AboutBio-map
                    p.AboutBio-desc ЕТК имеет представительства в пяти городах России, а также в Украине, Белоруссии, Казахстане, Туркменистане, Узбекистане, Китае, Саудовской Аравии и Объединенных Арабских Эмиратах.
                
                h1.Title Холдинг ЕТК
                p.AboutInfo-desc Группа компаний ЕТК – многопрофильный консорциум, в который входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.
        
                p.AboutInfo-desc Группа компаний ЕТК включает:
                ul.AboutInfo-list
                    li.AboutInfo-listItem ЗАО ЕВРАКОР
                    li.AboutInfo-listItem ООО ЕТК
                    li.AboutInfo-listItem ЗАО Краснодарстройтрансгаз
                    li.AboutInfo-listItem ООО Дорожно-строительная компания Регион–БВР
                    li.AboutInfo-listItem ETK PTE. Ltd.
                    li.AboutInfo-listItem ETK TRAIDING PRIVATE LIMITED
                    
                h2.AboutInfo-listTitle Основные направления деятельности
                ul.AboutInfo-list
                    li.AboutInfo-listItem Строительство "под ключ", реконструкция и капитальный ремонт объектов магистральных нефте- и газопроводов
                    li.AboutInfo-listItem Промышленное и гражданское строительство 
                    li.AboutInfo-listItem Материально-техническое обеспечение
                    li.AboutInfo-listItem Транспортные услуги
                    
                h2.AboutInfo-listTitle Персонал группы компаний
                p.AboutInfo-desc.AboutInfo-desc--noPadding Группа компаний ЕТК обладает высококвалифицированным персоналом для выполнения всех необходимых работ. Численность сотрудников группы около 5000 человек и включает в себя высококвалифицированный инженерно-технический и административно-управленческий персонал, а также рабочих разных специальностей. Средний коэффициент квалификации рабочих основных специальностей составляет 5,5.
                
                h2.AboutInfo-listTitle Производственно-технические мощности
                p.AboutInfo-desc.AboutInfo-desc--noPadding Парк дорожно-строительной и специальной техники, один из крупнейших в РФ, насчитывает около 3500 машин и механизмов ведущих мировых производителей, а также мобильных вагон-домов, позволяющих организовывать передвижные временные городки строителей.
                p.AboutInfo-desc Парк железнодорожного подвижного состава включает 4695 единиц, что позволяет минимизировать логистические риски и существенно ускорить перебазировку техники и грузов в любые, даже самые отдаленные регионы РФ, стран СНГ и Балтии.
                p.AboutInfo-desc Группа Компаний имеет в своем распоряжении самые современные комплексы и оборудование автоматической, полуавтоматической и ручной сварки, которые обеспечивают выполнение сварочных операций в соответствии с международными стандартами.
