templates/contacts.html
{% extends 'base.html' %}

{% block main %}

    <div class="ContactInfo">
        <div class="Center">
            <h1 class="Title Title--contact">Контактная информация</h1>
        </div>
        <div class="Center Flex Flex--start Flex--justifyStart">
            <div class="ContactInfo-address">
                {% for item in offices %}
                    <p class="Contact-title Bold">{{ item.office }}</p>
                    <p class="Bold">{{ item.desc }}</p>
                    <p class="Contact">{{ item.addres }}</p>
                    <p class="Contact">{{ item.phone }}</p>
                    <p class="Contact">{{ item.fax }}</p>
                {% endfor %}

                {% for item in depts %}
                    <p class="Contact-title Bold">{{ item.dept }}</p>
                    <a href="mailto:{{ item.email }}" class="Contact-mail">{{ item.email }}</a>
                {% endfor %}

            </div>
            <div class="ContactInfo-form">
                <p class="Contact-title">Вы сможете связаться с нами, отправив сообщение на <a class='Contact-link'>feedback@etk.com</a> или заполнив форму обратной связи:</p>
                <p class="Form-text Form-text--first">Ваше имя</p>
                <input type="text" class="Form-input Form--name">
                <p class="Form-text">Адрес эл.почты <span class='Form-span'>(для обратной связи)</span></p>
                <input type="text" class="Form-input Form--mail">
                <p class="Form-text">Сообщение</p>
                <textarea class="Form-input Form-message"></textarea>
                <input type="submit" value="Отправить" class="Form-input Form-send">
            </div>
        </div>
    </div>

{% endblock %}


  {# <body>
    <div class="Header Flex"><a href="index.html" class="Header-logo"></a>
      <div class="Header-menu Flex"><a href="projects.html" class="Header-link">Нефтегазовые проекты</a><a href="" class="Header-link">Медиа</a><a href="" class="Header-link">Рыболовство</a><a href="" class="Header-link">Недвижимость</a><a href="" class="Header-link">Проекты развития</a></div>
      <div class="Header-lang Flex"><a href="" class="Header-langLink Header-langLink--active">RU</a><a href="" class="Header-langLink">EN</a><a href="" class="Header-langLink">CH</a></div>
    </div>
    <hr>
    <div class="Center">
      <div class="Header Header--sub Header--white Flex"><a href="" class="Header-link--sub">Структура консорциума</a><a href="" class="Header-link--sub">Технические мощности</a><a href="" class="Header-link--sub">Новости</a><a href="" class="Header-link--sub">Сертификаты</a><a href="" class="Header-link--sub Header-link--active">Контактная информация</a><a href="" class="Header-link--sub">Сертификаты</a></div>
    </div>
    <hr>


    <div class="Footer">
      <div class="Center">
        <div class="Footer-credits Flex"><a href="index.html" class="Footer-logo"></a>
          <div class="Footer-social Flex"><a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a><a href="" target="_blank" class="FooterSocial FooterSocial-twitter">  </a></div>
        </div>
        <hr class="Footer-hr">
        <div class="Footer-menu">
          <div class="FooterMenu-item FooterMenu-item--first">
            <div class="FooterHeader"> <a href="about.html">Холдинг</a></div>
            <div class="FooterLink"> <a href="">Структура консорциума</a></div>
            <div class="FooterLink"> <a href="">Технические мощности</a></div>
            <div class="FooterLink"> <a href="news.html">Новости</a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
            <div class="FooterLink"> <a href="contacts.html">Контактная информация</a></div>
            <div class="FooterLink"><a href="">Задать вопрос    </a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"> <a href="projects.html">Нефтегазовые проекты</a></div>
            <div class="FooterLink"> <a href="projects-inside.html">Строительство трубопроводов</a></div>
            <div class="FooterLink"> <a href="">Строительство электрических сетей</a></div>
            <div class="FooterLink"> <a href="">Логистические услуги</a></div>
            <div class="FooterLink"> <a href="">Поставка продукции</a></div>
            <div class="FooterHeader"> <a href="">Проекты развития</a></div>
            <div class="FooterLink"> <a href="">Фармацевтика</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"><a href="">Недвижимость</a></div>
            <div class="FooterLink"> <a href="">Гостиничный бизнес</a></div>
            <div class="FooterLink"> <a href="">Гражданское строительство</a></div>
            <div class="FooterHeader"> <a href="">Рыболовство</a></div>
          </div>
          <div class="FooterMenu-item FooterMenu-item--last">
            <div class="FooterHeader"><a href="">Медиа</a></div>
            <div class="FooterLink"><a href="">Солярис Промо Продакшн</a></div>
            <div class="FooterLink"><a href="">Канал A one</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>#}

assets/templates/contacts.jade
extends ./base.jade

block title 
    title contacts / etk / frontend
   
block content
    .Center
        .Header.Header--sub.Header--white.Flex
            a(href="").Header-link--sub Структура консорциума
            a(href="").Header-link--sub Технические мощности
            a(href="").Header-link--sub Новости
            a(href="").Header-link--sub Сертификаты
            a(href="").Header-link--sub.Header-link--active Контактная информация
            a(href="").Header-link--sub Сертификаты

    hr       
    .ContactInfo
        .Center
            h1.Title.Title--contact Контактная информация
        
        .Center.Flex.Flex--start.Flex--justifyStart
            .ContactInfo-address    
                
                p.Contact-title.Bold Головной офис ГК "ЕТК"
                p.Contact 105120, Россия, Москва, Съезжинский пер.3, стр.1
                p.Contact Телефон: +7 (495) 780-20-20
                p.Contact Факс: +7 (495) 223-56-31
                
                p.Contact-title.Bold Филиал ГК "Евракор"
                p.Bold Строительно-монтажный трест №2 Западный
                p.Contact 105120, Россия, Москва, Съезжинский пер.3, стр.1
                p.Contact Телефон: +7 (495) 780-20-20
                p.Contact Факс: +7 (495) 223-56-31
                
                p.Contact-title.Bold Пресс-служба:
                a(href="").Contact-mail press@etk.com
                
                p.Contact-title.Bold Отдел-кадров:
                a(href="").Contact-mail hr@etk.com
            .ContactInfo-form
                p.Contact-title Вы сможете связаться с нами, отправив сообщение на <a class='Contact-link'>feedback@etk.com</a> или заполнив форму обратной связи:
                
                p.Form-text.Form-text--first Ваше имя
                input(type="text").Form-input.Form--name
                    
                p.Form-text Адрес эл.почты <span class='Form-span'>(для обратной связи)</span>
                input(type="text").Form-input.Form--mail
                    
                p.Form-text Сообщение
                textarea.Form-input.Form-message
                    
                input(type="submit" value="Отправить").Form-input.Form-send
            
