templates/index.html
{% extends 'base.html' %}

{% block main %}
    <div class="Slider">
        {% for item in banners %}
            <div class="Slider-item">
                <a href="{{ item.url }}" class="Slider-link"></a>
                <h1 class="Slider-title {% if item.color == True %} Slider-title--white {% endif %}">{{ item.title }}<h1>
                <p class="Slider-desc {% if item.color == True %} Slider-desc--white {% endif %}">{{ item.subTitle }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="News">
        <div class="Center Flex"><a href="news.html" class="SectionHeader">НОВОСТИ</a></div>
        <div class="Center Flex Flex--start">
            <div class="News-list">

                    {% for item in newsindex %}
                        {% if item.is_main == False %}
                            <div class="NewsList-item {% if item.id == 1 %} NewsList-item--first {% endif %}">
                                <h3 class="Date">{{ item.newsDate }}</h3>
                                <p class="NewsList-content">{{ item.newsText }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}

                <div class="NewsList-item">
                    <h3 class="Date">17 мая, вторник</h3>
                    <p class="NewsList-content">«ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту</p>
                </div>
                <div class="NewsList-item">
                    <h3 class="Date">17 мая, вторник</h3>
                    <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
                </div>
                <div class="NewsList-item NewsList-item--last">
                    <h3 class="Date">17 мая, вторник</h3>
                    <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
                </div>
            </div>
            <div class="News-actual">
                {% for item in newsindex %}
                    {% if item.is_main == True %}
                        <h3 class="Date Date--actual">{{ item.newsDate }}</h3>
                        <p class="NewsActual-content">{{ item.newsText }}</p>
                        {# <div class="NewsActual-img" style="background-image:url({{ item.img.url }});"></div>#}
                        <div class="NewsActual-img"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div class="Projects">
        <div class="Center"><a href="projects.html" class="SectionHeader">КРУПНЕЙШИЕ ПРОЕКТЫ</a></div>
        <div class="Center">
            <img src="/static/img/project1.jpg" alt="" class="Projects-img Projects-img--first">
            <img src="/static/img/project2.jpg" alt="" class="Projects-img">
            <img src="/static/img/project3.jpeg" alt="" class="Projects-img">
            {% for item in projectindex %}
                <p class="Projects-content {% if item.id == 1 %} Projects-content--first {% endif %} ">
                    {{ item.projectText }}
                </p>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="Partners">
        <div class="Center"><a href="" class="SectionHeader">ПАРТНЕРЫ</a></div>
        <div class="Center Flex"> <a href="" target="_blank" class="Partners-link"><img src="/static/img/partners/lukoil.png" alt="Lukoil" class="Partners-company"></a><a href="" target="_blank" class="Partners-link"><img src="/static/img/partners/kss.png" alt="kss" class="Partners-company"></a><a href="" target="_blank" class="Partners-link"><img src="/static/img/partners/tnk.png" alt="tnk" class="Partners-company"></a><a href="" target="_blank" class="Partners-link"><img src="/static/img/partners/rosneft.png" alt="rosneft" class="Partners-company"></a><a href="" target="_blank" class="Partners-link"><img src="/static/img/partners/gazprom.png" alt="gazprom" class="Partners-company"></a><a href="" target="_blank" class="Partners-link"><img src="/static/img/partners/transneft.png" onmouseover="this.src='/static/img/partners/transneft-active.png'" onmouseout="this.src='/static/img/partners/transneft.png'" alt="transneft" class="Partners-company"></a></div>
    </div>
    <div class="Footer">
        <div class="Center">
            <div class="Footer-credits Flex"><a href="index.html" class="Footer-logo"></a>
                <div class="Footer-social Flex"><a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a><a href="" target="_blank" class="FooterSocial FooterSocial-twitter">  </a></div>
            </div>
            <hr class="Footer-hr">
            <div class="Footer-menu">
                <div class="FooterMenu-item FooterMenu-item--first">
                    <div class="FooterHeader"><a href="about.html">Холдинг</a></div>
                    <div class="FooterLink"> <a href="">Структура консорциума</a></div>
                    <div class="FooterLink"> <a href="">Технические мощности</a></div>
                    <div class="FooterLink"> <a href="news.html">Новости</a></div>
                    <div class="FooterLink"> <a href="">Сертификаты</a></div>
                    <div class="FooterLink"> <a href="contacts.html">Контактная информация</a></div>
                    <div class="FooterLink"><a href="">Задать вопрос    </a></div>
                    <div class="FooterLink"> <a href="">Сертификаты</a></div>
                </div>
                <div class="FooterMenu-item">
                    <div class="FooterHeader"> <a href="projects.html">Нефтегазовые проекты</a></div>
                    <div class="FooterLink"> <a href="projects-inside.html">Строительство трубопроводов</a></div>
                    <div class="FooterLink"> <a href="">Строительство электрических сетей</a></div>
                    <div class="FooterLink"> <a href="">Логистические услуги</a></div>
                    <div class="FooterLink"> <a href="">Поставка продукции</a></div>
                    <div class="FooterHeader"> <a href="">Проекты развития</a></div>
                    <div class="FooterLink"> <a href="">Фармацевтика</a></div>
                </div>
                <div class="FooterMenu-item">
                    <div class="FooterHeader"><a href="">Недвижимость</a></div>
                    <div class="FooterLink"> <a href="">Гостиничный бизнес</a></div>
                    <div class="FooterLink"> <a href="">Гражданское строительство</a></div>
                    <div class="FooterHeader"> <a href="">Рыболовство</a></div>
                </div>
                <div class="FooterMenu-item FooterMenu-item--last">
                    <div class="FooterHeader"><a href="">Медиа</a></div>
                    <div class="FooterLink"><a href="">Солярис Промо Продакшн</a></div>
                    <div class="FooterLink"><a href="">Канал A one</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# {% load i18n %}#}

{# {% block title %}{{ block.super }}{% trans 'Международная ярмарка современного искусства' %}{% endblock %}#}
{#
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>index / etk / frontend</title>
    <link rel="stylesheet" href="/static/css/front/style.css">
    <script type="text/javascript" src="/static/js/front/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/front/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/front/script.js"></script>
  </head>
<body>

    {% block body_class %}index-page{% endblock %}

    <div class="Header Flex"><a href="index.html" class="Header-logo"></a>
      <div class="Header-menu Flex"><a href="projects.html" class="Header-link">Нефтегазовые проекты</a><a href="" class="Header-link">Медиа</a><a href="" class="Header-link">Рыболовство</a><a href="" class="Header-link">Недвижимость</a><a href="" class="Header-link">Проекты развития</a></div>
      <div class="Header-lang Flex"><a href="" class="Header-langLink Header-langLink--active">RU</a><a href="" class="Header-langLink">EN</a><a href="" class="Header-langLink">CH</a></div>
    </div>
    <hr>
    <div class="Slider">
      <div class="Slider-item Slider-item--first"><a href="projects.html" class="Slider-link"></a>
        <h1 class="Slider-title Slider-title--white">ЕТК открывает новое направление: добыча нефти в Казахстане</h1>
        <p class="Slider-desc Slider-desc--white">Более 10 открытых месторождений с отличной инфраструктурой. </p>
      </div>
      <div class="Slider-item Slider-item--second">
        <h1 class="Slider-title Slider-title--white">Протяженность наших труб в первом квартале 2015 года составила 30 000 км</h1>
        <p class="Slider-desc Slider-desc--white">Во втором квартале руководство компании планирует увеличить объемы производства на 20%.</p>
      </div>
      <div class="Slider-item Slider-item--third">
        <h1 class="Slider-title">В 2014 году мы транспортировали 443 тыс. баррелей нефти</h1>
        <p class="Slider-desc">Объем экспорта в 2014 году вырос в 8 раз, об этом свидетельствует рост цен на энергоносители на постсоветстком пространстве.</p>
      </div>
    </div>



  </body>
</html>#}

assets/templates/index.jade
extends ./base.jade

block title 
    title index / etk / frontend

block content          
    .Slider
        .Slider-item.Slider-item--first
            a(href="projects.html").Slider-link
            h1.Slider-title.Slider-title--white ЕТК открывает новое направление: добыча нефти в Казахстане
            p.Slider-desc.Slider-desc--white Более 10 открытых месторождений с отличной инфраструктурой. 
        .Slider-item.Slider-item--second
            h1.Slider-title.Slider-title--white Протяженность наших труб в первом квартале 2015 года составила 30 000 км
            p.Slider-desc.Slider-desc--white Во втором квартале руководство компании планирует увеличить объемы производства на 20%.
        .Slider-item.Slider-item--third
            h1.Slider-title В 2014 году мы транспортировали 443 тыс. баррелей нефти
            p.Slider-desc Объем экспорта в 2014 году вырос в 8 раз, об этом свидетельствует рост цен на энергоносители на постсоветстком пространстве.
    
    .News
        .Center.Flex
            a(href="news.html").SectionHeader НОВОСТИ
        
        .Center.Flex.Flex--start
            .News-list
                .NewsList-item.NewsList-item--first
                    h3.Date 17 мая, вторник
                    p.NewsList-content Итоги незапланированного съезда совета директоров ОАО «ЕТК»
                .NewsList-item
                    h3.Date 17 мая, вторник
                    p.NewsList-content «ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту
                .NewsList-item
                    h3.Date 17 мая, вторник
                    p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                .NewsList-item.NewsList-item--last
                    h3.Date 17 мая, вторник
                    p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
            
            .News-actual
                h3.Date.Date--actual 18 мая, среда
                p.NewsActual-content Сегодня «ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту
                .NewsActual-img
        
    hr
        
    .Projects
        .Center
            a(href="projects.html").SectionHeader КРУПНЕЙШИЕ ПРОЕКТЫ
            
        .Center
                
            img(src="/static/img/project1.jpg", alt="").Projects-img.Projects-img--first
            img(src="/static/img/project2.jpg", alt="").Projects-img
            img(src="/static/img/project3.jpeg", alt="").Projects-img
                    
            p.Projects-content.Projects-content--first Строительство, реконструкция и капитальный ремонт линейных трубопроводов    
            p.Projects-content Строительство магистрального газопровода Узбекистан-Китай (САК-3)
            p.Projects-content Замена участков трубопровода на объектах ОАО Транснефть

    hr

    .Partners  
        .Center
            a(href="").SectionHeader ПАРТНЕРЫ
            
        .Center.Flex 
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/lukoil.png", alt="Lukoil").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/kss.png", alt="kss").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/tnk.png", alt="tnk").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/rosneft.png", alt="rosneft").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/gazprom.png", alt="gazprom").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/transneft.png", onmouseover="this.src='/static/img/partners/transneft-active.png'" onmouseout="this.src='/static/img/partners/transneft.png'" alt="transneft").Partners-company    
