templates/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>news / etk / frontend</title>
    <link rel="stylesheet" href="/static/css/front/style.css">
    <script type="text/javascript" src="/static/js/front/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/front/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/front/script.js"></script>
  </head>
  <body>
    <div class="Header Flex"><a href="index.html" class="Header-logo"></a>
      <div class="Header-menu Flex"><a href="projects.html" class="Header-link">Нефтегазовые проекты</a><a href="" class="Header-link">Медиа</a><a href="" class="Header-link">Рыболовство</a><a href="" class="Header-link">Недвижимость</a><a href="" class="Header-link">Проекты развития</a></div>
      <div class="Header-lang Flex"><a href="" class="Header-langLink Header-langLink--active">RU</a><a href="" class="Header-langLink">EN</a><a href="" class="Header-langLink">CH</a></div>
    </div>
    <hr>
    <div class="NewsPage">    
      <div class="Center Flex Flex--start">
        <div class="NewsPage-timeLine">
          <div class="NewsTimeLine-first Flex">
            <h3 class="NewsTimeLine-label">Новости</h3>
            <div class="NewsTimeLine-dropdown">
              <p class="NewsTimeLine-year NewsTimeLine-active">2015</p>
              <p class="NewsTimeLine-year">2014</p>
              <p class="NewsTimeLine-year">2013</p>
              <p class="NewsTimeLine-year">2012</p>
              <div class="NewsTimeLine-arrow"></div>
            </div>
          </div>
          <hr>
          <div class="NewsTimeLine-list">
            <div class="NewsTimeLine-item NewsTimeLine-item--first">
              <h3 class="Date">18 мая, среда</h3>
              <p class="NewsList-content">Итоги незапланированного съезда совета директоров ОАО «ЕТК»</p>
            </div>
            <div class="NewsTimeLine-item NewsTimeLine-item--second">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту    </p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsTimeLine-item">
              <h3 class="Date">17 мая, вторник</h3>
              <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
          </div>
        </div>
        <div class="VerticalDivider">   </div>
        <div class="NewsPage-actual NewsPage-actual--active NewsPage-actual--first">
          <h3 class="Date Date--actual">18 мая, понедельник</h3>
          <h1 class="NewsPage-title">Итоги незапланированного съезда совета директоров ОАО "ЕТК"</h1>
          <div class="NewsPage-image"></div>
          <p class="ImageDesc">Подпись в одну строку</p>
          <hr>
          <p class="NewsPage-desc">Этот газопровод — прямой конкурент предыдущему. Должен был доставлять газ в Европу с того же самого месторождения Южный Парс — только его катарской части. По одной из версий, гражданская война в Сирии случилась не без участия заинтересованных лиц из Катара, рассчитывавших на приведение в стране к власти более лояльного правительства как раз ради реализации своего газового проекта.</p>
          <p class="NewsPage-desc">Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.</p>
          <p class="NewsPage-desc">Так или иначе, но быстрого переворота в Сирии не вышло, и война перешла в затяжную фазу. Пример Ливии показывает, что это не всегда препятствует экспорту углеводородов, но здесь, определенно, не тот случай. В общем, перспективы проекта более чем туманны.</p>
        </div>
        <div class="NewsPage-actual NewsPage-actual--second">
          <h3 class="Date Date--actual">17 мая, среда</h3>
          <h1 class="NewsPage-title">Незапланированного съезда совета директоров ОАО "ЕТК" итоги</h1>
          <div class="NewsPage-image NewsPage-image--second"></div>
          <p class="ImageDesc">Подпись в одну строку</p>
          <hr>
          <p class="NewsPage-desc">Этот газопровод — прямой конкурент предыдущему. Должен был доставлять газ в Европу с того же самого месторождения Южный Парс — только его катарской части. По одной из версий, гражданская война в Сирии случилась не без участия заинтересованных лиц из Катара, рассчитывавших на приведение в стране к власти более лояльного правительства как раз ради реализации своего газового проекта.</p>
          <p class="NewsPage-desc">Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.</p>
          <div class="NewsPage-image"></div>
          <p class="ImageDesc">Подпись в одну строку</p>
          <hr>
          <p class="NewsPage-desc">Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.</p>
          <p class="NewsPage-desc">Так или иначе, но быстрого переворота в Сирии не вышло, и война перешла в затяжную фазу. Пример Ливии показывает, что это не всегда препятствует экспорту углеводородов, но здесь, определенно, не тот случай. В общем, перспективы проекта более чем туманны.</p>
          <div class="NewsPage-image"></div>
          <p class="ImageDesc">Подпись в одну строку</p>
          <hr>
          <p class="NewsPage-desc">Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.</p>
        </div>
      </div>
    </div>
    <div class="Footer">
      <div class="Center">
        <div class="Footer-credits Flex"><a href="index.html" class="Footer-logo"></a>
          <div class="Footer-social Flex"><a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a><a href="" target="_blank" class="FooterSocial FooterSocial-twitter">  </a></div>
        </div>
        <hr class="Footer-hr">
        <div class="Footer-menu">
          <div class="FooterMenu-item FooterMenu-item--first">
            <div class="FooterHeader"> <a href="about.html">Холдинг</a></div>
            <div class="FooterLink"> <a href="">Структура консорциума</a></div>
            <div class="FooterLink"> <a href="">Технические мощности</a></div>
            <div class="FooterLink"> <a href="news.html">Новости</a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
            <div class="FooterLink"> <a href="contacts.html">Контактная информация</a></div>
            <div class="FooterLink"><a href="">Задать вопрос    </a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"> <a href="projects.html">Нефтегазовые проекты</a></div>
            <div class="FooterLink"> <a href="projects-inside.html">Строительство трубопроводов</a></div>
            <div class="FooterLink"> <a href="">Строительство электрических сетей</a></div>
            <div class="FooterLink"> <a href="">Логистические услуги</a></div>
            <div class="FooterLink"> <a href="">Поставка продукции</a></div>
            <div class="FooterHeader"> <a href="">Проекты развития</a></div>
            <div class="FooterLink"> <a href="">Фармацевтика</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"><a href="">Недвижимость</a></div>
            <div class="FooterLink"> <a href="">Гостиничный бизнес</a></div>
            <div class="FooterLink"> <a href="">Гражданское строительство</a></div>
            <div class="FooterHeader"> <a href="">Рыболовство</a></div>
          </div>
          <div class="FooterMenu-item FooterMenu-item--last">
            <div class="FooterHeader"><a href="">Медиа</a></div>
            <div class="FooterLink"><a href="">Солярис Промо Продакшн</a></div>
            <div class="FooterLink"><a href="">Канал A one</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

assets/templates/news.jade
extends ./base.jade

block title 
    title news / etk / frontend

block content    
    .NewsPage     
        .Center.Flex.Flex--start
        
            .NewsPage-timeLine
                .NewsTimeLine-first.Flex
                    h3.NewsTimeLine-label Новости
                    .NewsTimeLine-dropdown
                        p.NewsTimeLine-year.NewsTimeLine-active 2015
                        p.NewsTimeLine-year 2014
                        p.NewsTimeLine-year 2013
                        p.NewsTimeLine-year 2012
                        .NewsTimeLine-arrow
                hr 
                .NewsTimeLine-list
                    .NewsTimeLine-item.NewsTimeLine-item--first
                        h3.Date 18 мая, среда
                        p.NewsList-content Итоги незапланированного съезда совета директоров ОАО «ЕТК»
                    .NewsTimeLine-item.NewsTimeLine-item--second
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту    
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
            
            .VerticalDivider    
                    
            .NewsPage-actual.NewsPage-actual--active.NewsPage-actual--first
                h3.Date.Date--actual 18 мая, понедельник
                h1.NewsPage-title Итоги незапланированного съезда совета директоров ОАО "ЕТК"
                .NewsPage-image
                p.ImageDesc Подпись в одну строку
                
                hr
                
                p.NewsPage-desc Этот газопровод — прямой конкурент предыдущему. Должен был доставлять газ в Европу с того же самого месторождения Южный Парс — только его катарской части. По одной из версий, гражданская война в Сирии случилась не без участия заинтересованных лиц из Катара, рассчитывавших на приведение в стране к власти более лояльного правительства как раз ради реализации своего газового проекта.
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
                p.NewsPage-desc Так или иначе, но быстрого переворота в Сирии не вышло, и война перешла в затяжную фазу. Пример Ливии показывает, что это не всегда препятствует экспорту углеводородов, но здесь, определенно, не тот случай. В общем, перспективы проекта более чем туманны.
                
            .NewsPage-actual.NewsPage-actual--second
                h3.Date.Date--actual 17 мая, среда
                h1.NewsPage-title Незапланированного съезда совета директоров ОАО "ЕТК" итоги
                
                .NewsPage-image.NewsPage-image--second
                p.ImageDesc Подпись в одну строку
                hr
                
                p.NewsPage-desc Этот газопровод — прямой конкурент предыдущему. Должен был доставлять газ в Европу с того же самого месторождения Южный Парс — только его катарской части. По одной из версий, гражданская война в Сирии случилась не без участия заинтересованных лиц из Катара, рассчитывавших на приведение в стране к власти более лояльного правительства как раз ради реализации своего газового проекта.
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
                
                .NewsPage-image
                p.ImageDesc Подпись в одну строку
                hr
                
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
                p.NewsPage-desc Так или иначе, но быстрого переворота в Сирии не вышло, и война перешла в затяжную фазу. Пример Ливии показывает, что это не всегда препятствует экспорту углеводородов, но здесь, определенно, не тот случай. В общем, перспективы проекта более чем туманны.
                
                .NewsPage-image
                p.ImageDesc Подпись в одну строку
                hr
                
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
            
