templates/projects-inside.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>projects-inside / etk / frontend</title>
    <link rel="stylesheet" href="/static/css/front/style.css">
    <script type="text/javascript" src="/static/js/front/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/front/owl.carousel.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/static/js/front/map.js"></script>
    <script type="text/javascript" src="/static/js/front/script.js"></script>
  </head>
  <body>
    <div class="Header Flex"><a href="index.html" class="Header-logo"></a>
      <div class="Header-menu Flex"><a href="projects.html" class="Header-link">Нефтегазовые проекты</a><a href="" class="Header-link">Медиа</a><a href="" class="Header-link">Рыболовство</a><a href="" class="Header-link">Недвижимость</a><a href="" class="Header-link">Проекты развития</a></div>
      <div class="Header-lang Flex"><a href="" class="Header-langLink Header-langLink--active">RU</a><a href="" class="Header-langLink">EN</a><a href="" class="Header-langLink">CH</a></div>
    </div>
    <hr>
    <div class="Header Header--sub Flex"><a href="" class="Header-link--sub Header-link--active">Строительство трубопроводов</a><a href="" class="Header-link--sub">Строительство электрических сетей</a><a href="" class="Header-link--sub">Логистические услуги</a><a href="" class="Header-link--sub">Поставка продукции</a></div>
    <hr>
    <div class="ProjectsInfo"> 
      <div class="Center">   
        <h1 class="Title ProjectsInfo--inside">Строительство нефтегазовых трубопроводов и обустройство скважин</h1>
        <p class="ProjectsInfo-desc ProjectsInfo--inside">Одним из ключевых направлений деятельности Группы компаний "ЕТК" является строительство объектов нефтегазового комплекса (магистральных нефтепроводов, газопроводов и сопутствующей инфраструктуры), а также их реконструкция и капитальный ремонт.</p>
        <p class="ProjectsInfo-desc ProjectsInfo--inside">На сегодняшний день Группа занимает одну из лидирующих позиций в сфере нефтегазового строительства, о чем свидетельствует обширная география реализованных и текущих проектов, а также их стратегическое значение.    </p>
      </div>
      <div class="ProjectsInfo-slider">
        <div class="Center">
          <div class="ProjectsSlider-container">
            <div class="ProjectsSlider-item ProjectsSlider-item--1"></div>
            <div class="ProjectsSlider-item ProjectsSlider-item--2"></div>
            <div class="ProjectsSlider-item ProjectsSlider-item--3"></div>
            <div class="ProjectsSlider-item ProjectsSlider-item--3"></div>
          </div>
          <div class="ProjectsSlider-descBox Flex">
            <p class="ProjectsSlider-desc ProjectsSlider-desc--1 ProjectsSlider-desc--active">Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток") Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")</p>
            <p class="ProjectsSlider-desc ProjectsSlider-desc--2"></p>
            <p class="ProjectsSlider-desc ProjectsSlider-desc--3">Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")</p>
            <p class="ProjectsSlider-desc ProjectsSlider-desc--4">Газопровода Россия-Турция (проект "Голубой поток") Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")Процесс строительства</p>
          </div>
          <hr class="Hr--slider">
        </div>
      </div>
      <div class="Center">   
        <p class="ProjectsInfo-desc ProjectsInfo--inside">Одним из ключевых направлений деятельности Группы компаний "ЕТК" является строительство объектов нефтегазового комплекса (магистральных нефтепроводов, газопроводов и сопутствующей инфраструктуры), а также их реконструкция и капитальный ремонт.</p>
        <p class="ProjectsInfo-desc ProjectsInfo--inside">На сегодняшний день Группа занимает одну из лидирующих позиций в сфере нефтегазового строительства, о чем свидетельствует обширная география реализованных и текущих проектов, а также их стратегическое значение.</p>
      </div>
    </div>
    <hr class="Hr--shadow">
    <div class="ProjectsNav Flex"> 
      <div class="Center"><a href="" class="ProjectsNav-link ProjectsNav-link--active">Все проекты</a><a href="" class="ProjectsNav-link">Завершенные</a><a href="" class="ProjectsNav-link">Текущие</a>
        <div class="ProjectsNav-control Flex"><a href="" class="ProjectsControl ProjectsControl--map ProjectsControl--active"></a><a href="" class="ProjectsControl ProjectsControl--list"></a></div>
      </div>
    </div>
    <hr>
    <div class="ProjectsMap">
      <div id="map-canvas" class="ProjectsMap-map"></div>
      <div class="Center Center--map">
        <div id="controls" class="ProjectsMap-controls">
          <div id="plus" class="MapControls MapControls--plus"></div>
          <div id="minus" class="MapControls MapControls--minus"></div>
        </div>
      </div>
    </div>
    <div class="Footer">
      <div class="Center">
        <div class="Footer-credits Flex"><a href="index.html" class="Footer-logo"></a>
          <div class="Footer-social Flex"><a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a><a href="" target="_blank" class="FooterSocial FooterSocial-twitter">  </a></div>
        </div>
        <hr class="Footer-hr">
        <div class="Footer-menu">
          <div class="FooterMenu-item FooterMenu-item--first">
            <div class="FooterHeader"> <a href="about.html">Холдинг</a></div>
            <div class="FooterLink"> <a href="">Структура консорциума</a></div>
            <div class="FooterLink"> <a href="">Технические мощности</a></div>
            <div class="FooterLink"> <a href="news.html">Новости</a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
            <div class="FooterLink"> <a href="contacts.html">Контактная информация</a></div>
            <div class="FooterLink"><a href="">Задать вопрос    </a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"> <a href="projects.html">Нефтегазовые проекты</a></div>
            <div class="FooterLink"> <a href="projects-inside.html">Строительство трубопроводов</a></div>
            <div class="FooterLink"> <a href="">Строительство электрических сетей</a></div>
            <div class="FooterLink"> <a href="">Логистические услуги</a></div>
            <div class="FooterLink"> <a href="">Поставка продукции</a></div>
            <div class="FooterHeader"> <a href="">Проекты развития</a></div>
            <div class="FooterLink"> <a href="">Фармацевтика</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"><a href="">Недвижимость</a></div>
            <div class="FooterLink"> <a href="">Гостиничный бизнес</a></div>
            <div class="FooterLink"> <a href="">Гражданское строительство</a></div>
            <div class="FooterHeader"> <a href="">Рыболовство</a></div>
          </div>
          <div class="FooterMenu-item FooterMenu-item--last">
            <div class="FooterHeader"><a href="">Медиа</a></div>
            <div class="FooterLink"><a href="">Солярис Промо Продакшн</a></div>
            <div class="FooterLink"><a href="">Канал A one</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

assets/templates/projects-inside.jade
extends ./base.jade

block title 
    title projects-inside / etk / frontend

block scripts
    script(type='text/javascript' src='/static/js/front/jquery-1.11.3.min.js')
    script(type='text/javascript' src='/static/js/front/owl.carousel.min.js')
    script(src="https://maps.googleapis.com/maps/api/js")
    script(type='text/javascript' src='/static/js/front/map.js')
    script(type='text/javascript' src='/static/js/front/script.js')

block content       
    .Header.Header--sub.Flex
        a(href="").Header-link--sub.Header-link--active Строительство трубопроводов
        a(href="").Header-link--sub Строительство электрических сетей
        a(href="").Header-link--sub Логистические услуги
        a(href="").Header-link--sub Поставка продукции

    hr
        
    .ProjectsInfo 
        .Center    
            h1.Title.ProjectsInfo--inside Строительство нефтегазовых трубопроводов и обустройство скважин
            p.ProjectsInfo-desc.ProjectsInfo--inside Одним из ключевых направлений деятельности Группы компаний "ЕТК" является строительство объектов нефтегазового комплекса (магистральных нефтепроводов, газопроводов и сопутствующей инфраструктуры), а также их реконструкция и капитальный ремонт.
            p.ProjectsInfo-desc.ProjectsInfo--inside На сегодняшний день Группа занимает одну из лидирующих позиций в сфере нефтегазового строительства, о чем свидетельствует обширная география реализованных и текущих проектов, а также их стратегическое значение.    
        
        .ProjectsInfo-slider
            .Center
                .ProjectsSlider-container
                    .ProjectsSlider-item.ProjectsSlider-item--1
                    .ProjectsSlider-item.ProjectsSlider-item--2
                    .ProjectsSlider-item.ProjectsSlider-item--3
                    .ProjectsSlider-item.ProjectsSlider-item--3
                
                .ProjectsSlider-descBox.Flex
                    p.ProjectsSlider-desc.ProjectsSlider-desc--1.ProjectsSlider-desc--active Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток") Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")
                    p.ProjectsSlider-desc.ProjectsSlider-desc--2
                    p.ProjectsSlider-desc.ProjectsSlider-desc--3 Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")
                    p.ProjectsSlider-desc.ProjectsSlider-desc--4 Газопровода Россия-Турция (проект "Голубой поток") Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")Процесс строительства
        
                hr.Hr--slider
            
        
        .Center    
            p.ProjectsInfo-desc.ProjectsInfo--inside Одним из ключевых направлений деятельности Группы компаний "ЕТК" является строительство объектов нефтегазового комплекса (магистральных нефтепроводов, газопроводов и сопутствующей инфраструктуры), а также их реконструкция и капитальный ремонт.
            p.ProjectsInfo-desc.ProjectsInfo--inside На сегодняшний день Группа занимает одну из лидирующих позиций в сфере нефтегазового строительства, о чем свидетельствует обширная география реализованных и текущих проектов, а также их стратегическое значение.
            
        
    hr.Hr--shadow    
    .ProjectsNav.Flex 
        .Center
            a(href="").ProjectsNav-link.ProjectsNav-link--active Все проекты
            a(href="").ProjectsNav-link Завершенные
            a(href="").ProjectsNav-link Текущие
            
            .ProjectsNav-control.Flex
                a(href="").ProjectsControl.ProjectsControl--map.ProjectsControl--active
                a(href="").ProjectsControl.ProjectsControl--list
    
    hr        
    .ProjectsMap
        .ProjectsMap-map#map-canvas
        .Center.Center--map
            .ProjectsMap-controls#controls
                .MapControls.MapControls--plus#plus
                .MapControls.MapControls--minus#minus
