assets/templates/projects.jade
extends ./base.jade

block title 
    title projects / etk / frontend
    
block scripts
    script(type='text/javascript' src='/static/js/front/jquery-1.11.3.min.js')
    script(type='text/javascript' src='/static/js/front/owl.carousel.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?language=en")
    script(type='text/javascript' src='/static/js/front/map.js')
    script(type='text/javascript' src='/static/js/front/script.js')

block content       
        .Header.Header--sub.Flex
            a(href="projects-inside.html").Header-link--sub Строительство трубопроводов
            a(href="").Header-link--sub Строительство электрических сетей
            a(href="").Header-link--sub Логистические услуги
            a(href="").Header-link--sub Поставка продукции
        
        .ProjectsImage  
        
        .ProjectsInfo  
            .Center
                .ProjectsInfo-fact
                    h1.ProjectsFact-title 7000 км
                    p.ProjectsFact-desc Протяженность построенных ЕТК трубопроводов только за первый квартал 2014 года.
                    hr.Hr--blue
                        
                h1.Title.Title--super Нефтегазовые проекты
                p.ProjectsInfo-desc.ProjectsInfo-desc--first Группа компаний ЕВРАКОР – многопрофильный консорциум, в состав которого входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.
                
                h2.ProjectsInfo-listTitle Ключевые направления деятельности Группы
                ul.ProjectsInfo-list
                    li.ProjectsInfo-listItem Строительство "под ключ", реконструкция и капитальный ремонт объектов магистральных нефте- и газопроводов
                    li.ProjectsInfo-listItem Промышленное и гражданское строительство 
                    li.ProjectsInfo-listItem Материально-техническое обеспечение
                    li.ProjectsInfo-listItem Транспортные услуги
                
                p.ProjectsInfo-desc В настоящее время в состав Группы "ЕВРАКОР" входят компании: АО "ЕВРАКОР", АО "Краснодарстройтрансгаз" и ООО "Дорожно-строительная компания Регион-БВР". Головной офис Группы расположен в Москве. Группа имеет представительства в пяти городах России, а также в Украине, Белоруссии, Казахстане, Туркменистане, Узбекистане, Китае, Саудовской Аравии и Объединненных Арабских Эмиратах.
            
        hr.Hr--shadow    
        .ProjectsNav.Flex 
            .Center
                a(href="").ProjectsNav-link.ProjectsNav-link--active Все проекты
                a(href="").ProjectsNav-link Завершенные
                a(href="").ProjectsNav-link Текущие
                
                .ProjectsNav-control.Flex
                    a(href="").ProjectsControl.ProjectsControl--map.ProjectsControl--active
                    a(href="").ProjectsControl.ProjectsControl--list
    
        hr
        .ProjectsMap
            .ProjectsMap-map#map-canvas
            .Center.Center--map
                .ProjectsMap-controls#controls
                    .MapControls.MapControls--plus#plus
                    .MapControls.MapControls--minus#minus

templates/projects.html
{% extends 'base.html' %}

{% block main %}


{% endblock %}


{# 
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>projects / etk / frontend</title>
    <link rel="stylesheet" href="/static/css/front/style.css">
    <script type="text/javascript" src="/static/js/front/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/front/owl.carousel.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?language=en"></script>
    <script type="text/javascript" src="/static/js/front/map.js"></script>
    <script type="text/javascript" src="/static/js/front/script.js"></script>
  </head>
  <body>
    <div class="Header Flex"><a href="index.html" class="Header-logo"></a>
      <div class="Header-menu Flex"><a href="projects.html" class="Header-link">Нефтегазовые проекты</a><a href="" class="Header-link">Медиа</a><a href="" class="Header-link">Рыболовство</a><a href="" class="Header-link">Недвижимость</a><a href="" class="Header-link">Проекты развития</a></div>
      <div class="Header-lang Flex"><a href="" class="Header-langLink Header-langLink--active">RU</a><a href="" class="Header-langLink">EN</a><a href="" class="Header-langLink">CH</a></div>
    </div>
    <hr>
    <div class="Header Header--sub Flex"><a href="projects-inside.html" class="Header-link--sub">Строительство трубопроводов</a><a href="" class="Header-link--sub">Строительство электрических сетей</a><a href="" class="Header-link--sub">Логистические услуги</a><a href="" class="Header-link--sub">Поставка продукции</a></div>
    <div class="ProjectsImage"> </div>
    <div class="ProjectsInfo">
      <div class="Center">
        <div class="ProjectsInfo-fact">
          <h1 class="ProjectsFact-title">7000 км</h1>
          <p class="ProjectsFact-desc">Протяженность построенных ЕТК трубопроводов только за первый квартал 2014 года.</p>
          <hr class="Hr--blue">
        </div>
        <h1 class="Title Title--super">Нефтегазовые проекты</h1>
        <p class="ProjectsInfo-desc ProjectsInfo-desc--first">Группа компаний ЕВРАКОР – многопрофильный консорциум, в состав которого входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.</p>
        <h2 class="ProjectsInfo-listTitle">Ключевые направления деятельности Группы</h2>
        <ul class="ProjectsInfo-list">
          <li class="ProjectsInfo-listItem">Строительство "под ключ", реконструкция и капитальный ремонт объектов магистральных нефте- и газопроводов</li>
          <li class="ProjectsInfo-listItem">Промышленное и гражданское строительство </li>
          <li class="ProjectsInfo-listItem">Материально-техническое обеспечение</li>
          <li class="ProjectsInfo-listItem">Транспортные услуги</li>
        </ul>
        <p class="ProjectsInfo-desc">В настоящее время в состав Группы "ЕВРАКОР" входят компании: АО "ЕВРАКОР", АО "Краснодарстройтрансгаз" и ООО "Дорожно-строительная компания Регион-БВР". Головной офис Группы расположен в Москве. Группа имеет представительства в пяти городах России, а также в Украине, Белоруссии, Казахстане, Туркменистане, Узбекистане, Китае, Саудовской Аравии и Объединненных Арабских Эмиратах.</p>
      </div>
    </div>
    <hr class="Hr--shadow">
    <div class="ProjectsNav Flex">
      <div class="Center"><a href="" class="ProjectsNav-link ProjectsNav-link--active">Все проекты</a><a href="" class="ProjectsNav-link">Завершенные</a><a href="" class="ProjectsNav-link">Текущие</a>
        <div class="ProjectsNav-control Flex"><a href="" class="ProjectsControl ProjectsControl--map ProjectsControl--active"></a><a href="" class="ProjectsControl ProjectsControl--list"></a></div>
      </div>
    </div>
    <hr>
    <div class="ProjectsMap">
      <div id="map-canvas" class="ProjectsMap-map"></div>
      <div class="Center Center--map">
        <div id="controls" class="ProjectsMap-controls">
          <div id="plus" class="MapControls MapControls--plus"></div>
          <div id="minus" class="MapControls MapControls--minus"></div>
        </div>
      </div>
    </div>
    <div class="Footer">
      <div class="Center">
        <div class="Footer-credits Flex"><a href="index.html" class="Footer-logo"></a>
          <div class="Footer-social Flex"><a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a><a href="" target="_blank" class="FooterSocial FooterSocial-twitter">  </a></div>
        </div>
        <hr class="Footer-hr">
        <div class="Footer-menu">
          <div class="FooterMenu-item FooterMenu-item--first">
            <div class="FooterHeader"> <a href="about.html">Холдинг</a></div>
            <div class="FooterLink"> <a href="">Структура консорциума</a></div>
            <div class="FooterLink"> <a href="">Технические мощности</a></div>
            <div class="FooterLink"> <a href="news.html">Новости</a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
            <div class="FooterLink"> <a href="contacts.html">Контактная информация</a></div>
            <div class="FooterLink"><a href="">Задать вопрос    </a></div>
            <div class="FooterLink"> <a href="">Сертификаты</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"> <a href="projects.html">Нефтегазовые проекты</a></div>
            <div class="FooterLink"> <a href="projects-inside.html">Строительство трубопроводов</a></div>
            <div class="FooterLink"> <a href="">Строительство электрических сетей</a></div>
            <div class="FooterLink"> <a href="">Логистические услуги</a></div>
            <div class="FooterLink"> <a href="">Поставка продукции</a></div>
            <div class="FooterHeader"> <a href="">Проекты развития</a></div>
            <div class="FooterLink"> <a href="">Фармацевтика</a></div>
          </div>
          <div class="FooterMenu-item">
            <div class="FooterHeader"><a href="">Недвижимость</a></div>
            <div class="FooterLink"> <a href="">Гостиничный бизнес</a></div>
            <div class="FooterLink"> <a href="">Гражданское строительство</a></div>
            <div class="FooterHeader"> <a href="">Рыболовство</a></div>
          </div>
          <div class="FooterMenu-item FooterMenu-item--last">
            <div class="FooterHeader"><a href="">Медиа</a></div>
            <div class="FooterLink"><a href="">Солярис Промо Продакшн</a></div>
            <div class="FooterLink"><a href="">Канал A one</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>#}
